*/xcshareddata
*/xcuserdatad
Pirate Assigment.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

Pirate Assigment.xcodeproj/project.xcworkspace/xcuserdata/lucas.xcuserdatad/UserInterfaceState.xcuserstate

Pirate Assigment.xcodeproj/xcuserdata/lucas.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Pirate Assigment.xcodeproj/xcuserdata/lucas.xcuserdatad/xcschemes/xcschememanagement.plist
